:root {
    --color-primary: #7B68EE; 
    --dropdown-color: #483D8B; 
    --underline-color: #EED5D2; 
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dropdown-color); 
}

nav {
    position: relative;
    background: var(--color-primary); 
    font-weight: 400;
    font-size: 0;
    display: flex;
    padding: 0;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

nav .item {
    font-size: 1.2rem; 
    display: inline-block;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
    z-index: 5;
    flex-grow: 1;
    text-align: center;
    min-width: auto;
    height: 60px;
    line-height: 60px;
    color: white;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 50%; 
    transform: translateX(-50%); /* Center the list */
    width: 150px; /* List width */
    background: var(--dropdown-color); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: none; 
    flex-direction: column;
    z-index: 10;
}

.dropdown a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem; 
    text-align: center;
}

.dropdown a:hover {
    background: var(--color-primary); /* Change color when hovering */
}

.item:hover > .dropdown {
    display: flex; /* Displayed on hover */
}

.underline {
    height: 4px;
    background: var(--underline-color); 
    position: absolute;
    bottom: 0;
    width: 0;
    z-index: 2;
    pointer-events: none;
    transition: all 0.35s ease;
}

nav .item:hover ~ .underline {
    width: 25%; /* Adjust the width by exactly one item */
    left: calc(25% * var(--hover-index)); /* Position by hovered item */
}

nav .item:nth-child(1):hover ~ .underline {
    --hover-index: 0;
}

nav .item:nth-child(2):hover ~ .underline {
    --hover-index: 1;
}

nav .item:nth-child(3):hover ~ .underline {
    --hover-index: 2;
}

nav .item:nth-child(4):hover ~ .underline {
    --hover-index: 3;
}
